[include mainsail.cfg]
#[include configurations/include.cfg]
[include configurations/*.cfg]
# [include macros/include.cfg]
[include macros/*.cfg]
#[include KAMP_Settings.cfg]

[exclude_object]
[pause_resume] 

[gcode_arcs]
resolution: 0.1

[force_move]
enable_force_move: true

[display_status]

[respond]
default_type: echo

[idle_timeout]
# only turn off motors and heaters if the printer is not paused
gcode:
    {% if not (printer.pause_resume.is_paused) %}
        RESPOND MSG="Idle timeout reached"
        TURN_OFF_HEATERS
        M84
        #halo_off
        #SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=hotend_fan TARGET=45
        #SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_heater TARGET=0

    {% endif %}
timeout: 7200

[printer]
kinematics: corexy
max_velocity: 400 
max_accel: 8000             
max_z_accel: 500
max_z_velocity: 30
square_corner_velocity: 20.0

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

[gcode_macro DATA_SAMPLE]
gcode:
  {% set bed_temp = params.BED_TEMP|default(90)|int %}
  {% set nozzle_temp = params.NOZZLE_TEMP|default(250)|int %}
  {% set min_temp = params.MIN_TEMP|default(40)|int %}
  {% set max_temp = params.MAX_TEMP|default(70)|int %}
  G90
  M106 S255
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  RESPOND TYPE=command MSG='Starting Phase 1 of 4'
  M117 Starting Phase 1 of 4
  M106 S0
  G28
  G0 Z1
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={min_temp}
  CARTOGRAPHER_STREAM FILENAME=data1
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data1
  M104 S0
  M140 S0
  M106 S255
  G0 Z80
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  M117 Starting Phase 2 of 4
  RESPOND TYPE=command MSG='Starting Phase 2 of 4'
  M106 S0
  G28 Z0
  G0 Z2
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  CARTOGRAPHER_STREAM FILENAME=data2
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data2
  M104 S0
  M140 S0
  M106 S255
  G0 Z80
  RESPOND TYPE=command MSG='Waiting for Coil to cool to 40'
  M117 Waiting for Coil to cool to 40
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MAXIMUM={min_temp}
  M117 "Starting Phase 3 of 4"
  RESPOND TYPE=command MSG='Starting Phase 3 of 4'
  M106 S0
  G28 Z0
  G0 Z3
  M104 S{nozzle_temp}
  M140 S{bed_temp}
  G4 P1000
  CARTOGRAPHER_STREAM FILENAME=data3
  M117 Waiting for Coil to heat to 70
  RESPOND TYPE=command MSG='Waiting for Coil to heat to 70'
  TEMPERATURE_WAIT SENSOR='temperature_sensor cartographer_coil' MINIMUM={max_temp}
  CARTOGRAPHER_STREAM FILENAME=data3
  M104 S0
  M140 S0
  RESPOND TYPE=command MSG='Testing complete, please move files using: mv ~/klipper/data1 ~/klipper/data2 ~/klipper/data3 ~/cartographer-klipper/'
  M117 "Testing complete, please move files using: mv ~/klipper/data1 ~/klipper/data2 ~/klipper/data3 ~/cartographer-klipper/"
  RESPOND TYPE=command MSG='Follow the remaining instructions here: https://docs.cartographer3d.com/cartographer-probe/advanced-features/temperature-differential-calibration-beta'
  M117 "Follow the remaining instructions here: https://docs.cartographer3d.com/cartographer-probe/advanced-features/temperature-differential-calibration-beta"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer model default]
#*# model_coef = 1.2458252114109665,
#*# 	1.6632472977773496,
#*# 	0.7616801872696726,
#*# 	0.3095923368959568,
#*# 	0.4430728569646198,
#*# 	0.7493947163098658,
#*# 	-0.3119942068572376,
#*# 	-0.8189192167998518,
#*# 	0.4106608237104766,
#*# 	0.548058364402629
#*# model_domain = 3.0159483806232137e-07,3.290166876315106e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 25.919374
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.143694, -0.040274, -0.020391, -0.085695, -0.165561
#*# 	-0.156884, -0.021717, -0.027089, -0.051340, -0.144803
#*# 	-0.165442, -0.057024, -0.002195, -0.052687, -0.133891
#*# 	-0.185693, -0.087037, -0.037544, -0.058778, -0.142924
#*# 	-0.231816, -0.157697, -0.110511, -0.118657, -0.176584
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 300.0
#*# min_y = 40.0
#*# max_y = 300.0
#*#
#*# [cartographer model energetic_pei_cold]
#*# model_coef = 1.2458252114109665,
#*# 	  1.6632472977773496,
#*# 	  0.7616801872696726,
#*# 	  0.3095923368959568,
#*# 	  0.4430728569646198,
#*# 	  0.7493947163098658,
#*# 	  -0.3119942068572376,
#*# 	  -0.8189192167998518,
#*# 	  0.4106608237104766,
#*# 	  0.548058364402629
#*# model_domain = 3.0159483806232137e-07,3.290166876315106e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 25.919374
#*# model_offset = 0.00000
#*#
#*# [cartographer model energetic_pei_hot_calibrated]
#*# model_coef = 1.2521912084140367,
#*# 	1.6637056824265093,
#*# 	0.7387721169264735,
#*# 	0.30887462795417514,
#*# 	0.52440687695652,
#*# 	0.7725077090529916,
#*# 	-0.42563018917929923,
#*# 	-0.8635353655398083,
#*# 	0.459738228339917,
#*# 	0.5693977166421061
#*# model_domain = 3.021369137074215e-07,3.2927711031004423e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 51.189704
#*# model_offset = 0.00000
