
[autotune_tmc stepper_x]
motor: ldo-42sth48-2504macf
sg4_thrs: 119 #86
tuning_goal: auto
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504macf
sg4_thrs: 111 #94
tuning_goal: auto

[autotune_tmc stepper_z]
motor: generic_z
tuning_goal: auto
[autotune_tmc stepper_z1]
motor: generic_z
tuning_goal: auto
[autotune_tmc stepper_z2]
motor: generic_z
tuning_goal: auto
[autotune_tmc stepper_z3]
motor: generic_z
tuning_goal: auto

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg-9T
# tuning_goal: auto

[motor_constants generic_z]
# Coil resistance, Ohms
resistance: 2.2
# Coil inductance, Henries
inductance: 0.0044
# Holding torque, Nm
holding_torque: 0.48
# Nominal rated current, Amps
max_current: 1.2
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200
